{% extends 'form.html' %}
{% load static %}
 
{% block miForm %}
 <div class="form-row">
    <div class="form-group col-md-4">
      <label  >{{form.old_password.label}}</label>
        {{form.old_password}}
     </div>
   
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
        <label  >{{form.new_password1.label}}</label>
           <br/>{{ form.new_password1}}
       </div>
       <div class="form-group col-md-4">
          <label  >{{form.new_password2.label}}</label>
             <br/>{{ form.new_password2}}
         </div>
  </div>

 {% endblock %}  
 {% block miCancelar %}
<a  href="{{cancelar}}" class="btn btn-default btnTest">
                      <i class="fas fa-times"> Cancelar</i>
                      </a>
                      {% endblock %}