{% extends 'layout.html' %}

{% block content %}
<form method="post" action="." enctype="multipart/form-data">

    <div class="card card-default">
    <div class="card-header">
    <h3 class="card-title">
       {% block icons %}
        {% if action == 'add' %}
        <i class="icon fas fa-plus"></i>
        {% else %}
        <i class="icon fas fa-edit"></i>
        {% endif %}
        {% endblock %}
        {{title}}
    </h3>

    </div>

    <div class="card-body">
        {% csrf_token %}
        <input type="hidden" name="action" value="{{action}}">


        {% block miForm %}

        {% endblock %}


        <div class="card-footer">
                  <button  type="submit" class="btn btn-primary btnTest">
                      <i class="fas fa-save"> Guardar</i>
                      </button>
                      {% block miCancelar %}
<a  href="{{list_url}}" class="btn btn-default btnTest">
                      <i class="fas fa-times"> Cancelar</i>
                      </a>
                      {% endblock %}
        </div>
         </div>
        </div>


</form>
<script>
    {% if form.errors %}
        var errors=''
        {% for field in form %}
            {% for err in field.errors %}
                errors += '{{ err }}\n'
            {% endfor %}
        {% endfor %}
        Swal.fire({
          title: 'Error!',
          text: errors,
          icon: 'error',
        });
    {% endif %}
    $('form').on('submit', function (e) {
            e.preventDefault();
             var parameters = new FormData(this);

            submit_with_ajax(window.location.pathname,'Notificación','¿Esta seguro de guardar este registro?', parameters, function(){
                location.href ='{{list_url}}'
            });
        });
</script>
{% endblock %}